.well
  p.text-muted
    p.p_color
      = comment.root? ? "Started by " : "Replied by " 
      b.link_color
        = link_to User.find(comment.author_id).email, user_path(comment.author_id)
      |  on 
      = comment.created_at.strftime('%B, %d %Y %H:%M:%S')
      |  | 
      u.link_color
        a data-toggle="collapse" data-parent="#wrap" data-target=".#{comment.id}"
          | Reply 
          em.fa.fa-reply
  
      blockquote
        = comment.body

    div id="#wrap"
      div class="#{comment.id} collapse"
				- if @mniam != nil
					= render :partial => 'comments/form',  locals: {:@comment => Comment.new(:parent_id => comment.id, :mniam_id => @mniam.id)}
				- else 
					= render :partial => 'comments/form',  locals: {:@comment => Comment.new(:parent_id => comment.id, :tip_id => @tip.id)}
      
    - from_reply_form ||= nil 
    - unless from_reply_form 
      - if comment.leaf? 
        small.text-muted
          p.p_color
            | There are no replies yet - be the first one to reply!