<%= link_to filtering_path(f.typ, "typ") do %> <span class="label label-primary"><%= f.typ %></span> <% end%>
<%= link_to filtering_path(f.preparation_time, "preparation_time") do %><span class="label label-primary"><%= f.preparation_time %> min <span class="glyphicon glyphicon-time" aria-hidden="true"></span></span> <% end %>
<%= link_to filtering_path(f.price, "price") do %><span class="label label-primary"><%= f.price %> <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span> <% end %>
<%= link_to filtering_path(f.difficulty, "difficulty") do %><span class="label label-primary"><%= f.difficulty %> <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></span> <% end%>