 <hr>
<%= link_to "Back", :back, class: "btn btn-default" %> |
<div class="btn-group">
<a href="#" class="btn btn-primary">Options</a>
<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
<ul class="dropdown-menu">
<% if @mniam.user == current_user  or current_user.admin? %>
  <li><%= link_to "Edit", edit_mniam_path(@mniam)%></li>
  <li><%= link_to "Delete", mniam_path, method: :delete, data:{confirm: "Are you sure?"} %></li>
  <li class="divider"></li>
<%end%>
<% if current_user %>
  <li><%= link_to "Favorite+", favorite_mniam_path(@mniam, type: "favorite"), method: :put%></li>
<% end %>
<li><%= link_to "Create PDF", show_path(@mniam, :format => :pdf)%></li>
</ul>
</div>
<br>