 <p> 
By: <%= link_to @mniam.user.email,  @mniam.user%> | <b>Score: (<%= @mniam.user.scores(@mniam.user) =%>)</b> | 
<% if user_signed_in? %>
  <%= link_to like_mniam_path(@mniam), method: :put do %>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <%= @mniam.get_upvotes.size %>
  <% end %> |
<%end%> 
  <%= link_to filtering_path(@mniam.typ, "typ") do %> <span class="label label-success"><%= @mniam.typ %></span> <% end%>|
  <%= link_to filtering_path(@mniam.preparation_time, "preparation_time") do %><span class="label label-success"><%= @mniam.preparation_time %> min <span class="glyphicon glyphicon-time" aria-hidden="true"></span></span> <% end %>|
  <%= link_to filtering_path(@mniam.price, "price") do %><span class="label label-success"><%= @mniam.price %> <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span> <% end %>|
  <%= link_to filtering_path(@mniam.difficulty, "difficulty") do %><span class="label label-success"><%= @mniam.difficulty %> <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></span> <% end%>
</p>