<% provide(:title, "Home") %>

<div class="transitions-enabled" id="mniams">
  <% @mniams.each do |f| %>
    <div class="box panel panel-default">
    <div class="hover13 column">
      <figure><%= link_to (image_tag f.avatar.url), f %></figure>
     </div>
      <h2>
        <a><%= link_to f.title, f %></a>
      </h2>
      <p class="user">
        <%= f.description %>
        <hr>
		      <%= render 'filter_links', f: f %>
      </p>
    </div>
  <% end %>
</div>

	<%= will_paginate @mniam %>



