<div class="row">
<div class="col-md-12">
  <h1>Recipe Mmm...</h1>
  <h2><%= @mniam.title %></h2>
  <p><%= @mniam.description %> </p>
  <hr>
</div>

  <div class="col-md-6">
    <div id="ingredients">
      <h2>Ingredients</h2>
      <ul>
        <% @mniam.ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div id="directions">
      <h2>Directions</h2>
      <ul>
        <% @mniam.directions.each do |direction| %>
          <li>
            <%= direction.step %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<div class="col-md-12">
<hr>
  <p><b>Price: </b><%= @mniam.price %> Euro </p>
  <p><b>Difficulty: </b> <%=@mniam.difficulty %> </p>
  <p><b>Preparation time: </b><%=@mniam.preparation_time %> min </p>
  <p><b>Type: </b><%=@mniam.typ %> </p>
</div>
</div>