<% provide(:title, @mniam.title) %>

<div class="col-md-12">
  <p style="text-align:center"><%= link_to image_tag('logo3.png'), root_path %></p>
</div> 

<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="col-md-12">
          <br>
           <%= render 'top_links' %>
        </div>

        <div class="col-md-6">
          <%= image_tag @mniam.avatar.url, class: "img_show" %>
          <br>
          <br>
        </div>

        <div class="col-md-6">
          <h2><%= @mniam.title %></h2>
          <br>
          <p><%= @mniam.description %></p>
        </div>

        <div class="col-md-6">
          <%= render 'ingredients' %>
        </div>

        <div class="col-md-12">
         <%= social_share_button_tag(@mniam.title) %>
        </div>

        <div class="col-md-6">
          <%= render 'related' %>
        </div>


        <div class="col-md-6">
          <div id="directions">
           <%= render 'directions' %>
          </div>
        </div>

        <div class="col-md-12">
          <%= render 'links' %>
        </div>

        <div class="col-md-12">
          <br>
            <%= render 'comments' %>
          <br>
          <%= comments_tree_for @comments %>
        </div>
      </div>
    </div>
  </div>
</div>
