<% provide(:title, "Users") %>

<div class="col-md-12">
  <p style="text-align:center"><%= link_to image_tag('logo44.png'), root_path %></p>
</div>


<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
  <div class="panel-body">
 

<div class="col-md-12">
<table class="table table-striped table-hover ">
<% @users.each_with_index do |user, index| %> 
<tr >
<div class="col-md-6">
	<td><%=index+1%>. 
  <%= (image_tag user.user_avatar.url(:medium), class: "img_related") %>
  <%= link_to user.email, user %> <b>Score: (<%= user.scores(user) %>)</b>
  <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation", "data-sid" => current_user.id, "data-rip" => user.id %>
	<% if current_user.admin? %>
  		<%= link_to "Delete", user, method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-default" %> </td>
	<%end%> 
  </tr>
<% end %>
</table>
</div>
</div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
<h3>Your Conversations</h3>
  <hr>
    <div style="height: 400px; overflow-y: auto;">
      <% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <li class="media">
                  <% if User.find_by id: conversation.recipient_id %>
                      <%= image_tag(User.find(conversation.recipient_id).user_avatar.url, class: "img_related media-object pull-left") %>
                      <div class="media-body">
                        <%= User.find(conversation.recipient_id).email%>  
                        <%= link_to "Reply", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                        <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
                        <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                      </div> 
                  <% end %>
                </li>
            <% end %>
          </ul>
      <% else %>
          <p>You have no conversations. Click send message with any user to create one.</p>
      <% end %>
    </div>
  </div>
  </div>
</div>
</div>
</div>
