<% provide(:title, @user.email) %>
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">

<div class="col-md-6">
  <%= (image_tag @user.user_avatar.url(:medium), class: "user_img") %>
</div>

<div class="col-md-6">
  <%= render 'foll' %>
</div>
<hr>

<div class="col-md-6">
  <br>
  <%= social_share_button_tag(@user.email) %>
</div>

<div class="col-md-6">
  <%= render 'follow_form' if signed_in? %> 
</div>
<div class="col-md-12">
  <%= render 'user_mniams' %>
</div>

<div class="col-md-12">
<hr>
<%= link_to "Back", users_path, class: "btn btn-default" %>
<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
</div>