<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo.png'), root_path, :class => "logo" %> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= mniams_path %>">Filter</a></li>
            <li><a href="<%= top_path %>">Top</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= mniams_favorite_list_path(current_user) %>">Favorites</a></li>
            <li><a href="<%= feed_list_path %>">Feed</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= tips_path %>">Tip</a></li>
          </ul>
        </li>

  
    <%= form_tag(root_path, :method => "get", class: "navbar-form navbar-left", id: "search") do %>
      <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
      </div>
    <% end %>

        <li><a href="<%= new_mniam_path %>">New</a></li>
        <li class="dropdown">

        <% if user_signed_in? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= user_path(current_user) %>">Profile</a></li>
            <li><a href="<%= users_path %>">Users</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><a href="<%= new_user_registration_path %>">Sign in</a></li>
          <li><a href="<%= new_user_session_path %>">Sign up</a></li>
        <%end%>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>