<h4><b>Comments: (<%= @tip.comments.count %>)</b></h4>
  Add a comment!
  <%= form_for @comment do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :tip_id %>
    <%= f.hidden_field :parent_id %>

    <div class="form-group">
      <%= f.text_area :body, class: 'form-control', required: true %>
    </div>
    

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  <hr>