<% provide(:title, @tip.title ) %>

<div class="col-md-12">
	<p style="text-align:center"><%= link_to image_tag('logo4.png'), tips_path %></p>
</div>

<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
    <div class="panel-body">
		<div class="col-md-12">
					<br>
					<p>
			    	Created at: <%= link_to @tip.user.email,  @tip.user%> | 		
			    	<%= link_to tips_path(@tip.category) do %> <span class="label label-success"><%= @tip.category %> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span></span><%end%> | 
					  <% if user_signed_in? %>
					    <%= link_to like_tip_path(@tip), method: :put do %>
					      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
					      <b>(<%= @tip.get_upvotes.size %>)</b>
					    <% end %>
					  <%end%> 
					</p>
				</div>


				<div class="col-md-12">
					<h3><%= @tip.title %></h3>
				</div>

				<div class="col-md-12">
					<iframe width="690" height="380" src="<%= @tip.movie %>" frameborder="0" allowfullscreen></iframe> 
				</div>

				<div class="col-md-12">
					<h4><%= @tip.description %></h4>
				</div>
	
				<div class="col-md-12">
					<%= social_share_button_tag(@tip.title) %>
					<hr>
						<%= link_to "Back", tips_path, class: "btn btn-primary" %>
						<% if @tip.user == current_user  or current_user.admin?%>
					    <%= link_to "Edit", edit_tip_path(@tip), class: "btn btn-default" %>
					    <%= link_to "Delete", tip_path, method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-default" %>
					<%end%> 
					<br>
				</div>

				<div class="col-md-12">
					<%= render 'comments' %>
					<%= comments_tree_for @comments %>
				</div>

			</div>
		</div>
	</div>
